body {
  margin: 0;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
h1 {
   font-size: 5.625rem;
   margin-bottom: 0px;
   display: inline-block;
   font-family: "Dancing Script", cursive;
   color: #66BFBF;
}
h2 {
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: "Varela Round", sans-serif;
    color: #66BFBF;
    font-weight: normal;

}
h3 {
   color:  #11999E;
}

a {
  color:  #11999E;
}
hr {
  width: 10%;
  border: 10px dotted;
  margin-bottom: 0px;
  border-style: none none dotted;
  color: grey
}
p{
  margin-bottom: 0px;
}
.topcontainer {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 50px;
}
.bottom-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}
.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.adityaimg {
  width: 25%;
}
.skillimg1 {
  width: 25%;
  float: right;
  margin-right: 30px;
}
.skillimg2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}